testing-framework/todo.md
pickles/
sandbox/
testing-framework/__pycache__/
testing-framework/CDFs/test_1000/
testing-framework/panoptic/obs_x_dict.pickle
*.pyc
*.pyc
testing-framework/CDFs/optimize_cache.pickle
testing-framework/__pycache__/utilities.cpython-312.pyc
transformed-data/
*.DS_Store
*obs_x_dict.pickle
*group_data_map.pickle
testing-framework/full-pastis-gray-wavelet/filtered_df_dict_full.pickle
testing-framework/full-pastis-gray-wavelet/filtered_df_dict_initial.pickle
testing-framework/full-pastis-gray-wavelet/group_cdf_df_dict_initial.pickle
testing-framework/full-pastis-gray-wavelet/group_cdf_df_dict_full.pickle
testing-framework/batch0-agriVision-red-fourier/group_cdf_df_dict_full.pickle
testing-framework/batch0-agriVision-red-fourier/group_cdf_df_dict_initial.pickle
