todo.md
pickles/
sandbox/
testing-framework/__pycache__/
*.pyc
testing-framework/CDFs/optimize_cache.pickle
testing-framework/__pycache__/utilities.cpython-312.pyc
transformed-data/dataframes
*.DS_Store
.DS_Store
.vscode/settings.json
*group_cdf_df_dict_full.pickle
raw-data/agriVision/
/raw-data/test
raw-data/